* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  width: 100vh;
  height: 100vh;
  background-color: #afc9f8;
  display: grid;
  margin-left: 350px;
}

form {
  background-color: #00a2ff;
  padding: 120px 30px 80px 30px;
  width: 50%;
  margin: 100px auto;
  text-align: center;
  box-shadow: 0 10px 6px -6px #777;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
}

#tempCalc label {
  font-size: 20px;
}

#temp {
  border: none;
  padding: 10px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  margin-top: 20px;
}

#temp_diff {
  height: 40px;
  border: none;
  margin-top: 20px;
  font-size: 15px;
  vertical-align: top;
}

[type="submit"] {
  height: 35px;
  margin: 20px;
  width: 100px;
  font-size: 15px;
  border: none;
  background-color: black;
  color: white;
}

#resultContainer {
  font-size: 25px;
}
